# 연구목표

- 년간 음원 출시 데이터를 이용하여 음반 제작현황 파악 및 편중된 현황 분석
- pandas 연습

# 데이터 수집

- 제공
- music.csv

# 데이터 준비

- 정제 필요

In [1]:
import numpy as np
import pandas as pd

In [3]:
music = pd.read_excel('/content/drive/MyDrive/cloud_ai/share/2.데이터분석/res/music.xlsx')
music

,Year,Month,Album Title,Artist Name,Genre,Date,Distribution,Rating,Music Count
0,2017.0,1.0,Boys and Girls Music Vol. 1,샘김,알앤비/어반,2017.01.25,로엔 엔터테인먼트,8.6,2.0
1,2017.0,1.0,여자친구 The 1st Album 'LOL',여자친구(GFRIEND),댄스,2016.07.11,로엔엔터테인먼트,8.1,12.0
2,2017.0,1.0,Collage (EP),The Chainsmokers,일렉트로니카,2016.11.05,소니뮤직,7.5,5.0
3,2017.0,1.0,If You,에일리,발라드,2016.08.23,로엔 엔터테인먼트,6.9,1.0
4,2017.0,1.0,세 단어,젝스키스,발라드,2016.10.07,YG PLUS,9.0,1.0
...,...,...,...,...,...,...,...,...,...
2173,2018.0,10.0,RECIPE,벤,발라드,2018.05.08,(주)지니뮤직,7.1,10.0
2174,2018.0,10.0,Eyes On You,GOT7 (갓세븐),"댄스, 알앤비/어반",2018.03.12,(주)아이리버,8.6,7.0
2175,2018.0,10.0,Take,숀(SHAUN),"일렉트로니카, 인디뮤직",2018.06.27,워너뮤직코리아,3.7,4.0
2176,2018.0,10.0,우리 그만하자,로이킴,발라드,2018.09.18,(주)지니뮤직,7.0,2.0
2177,2018.0,10.0,하루도 그대를 사랑하지 않은 적이 없었다,임창정,"발라드, 댄스",2018.09.19,(주)인터파크,8.5,14.0

In [4]:
music.shape

(2178, 9)

In [5]:
music.head(1)

,Year,Month,Album Title,Artist Name,Genre,Date,Distribution,Rating,Music Count
0,2017.0,1.0,Boys and Girls Music Vol. 1,샘김,알앤비/어반,2017.01.25,로엔 엔터테인먼트,8.6,2.0

In [6]:
music.dtypes

Year            float64
Month           float64
Album Title      object
Artist Name      object
Genre            object
Date             object
Distribution     object
Rating          float64
Music Count     float64
dtype: object

## date 데이터, 원래 타입으로 처리

In [9]:
# Date컬럼은 현재 문자열 => 원본 타입으로 변경
# to_datetime() or .astype( 'datetime64' )
music['Date'] = music['Date'].astype( 'datetime64' )

In [10]:
music.dtypes

Year                   float64
Month                  float64
Album Title             object
Artist Name             object
Genre                   object
Date            datetime64[ns]
Distribution            object
Rating                 float64
Music Count            float64
dtype: object

## 제작사 데이터 검토 및 정제

In [13]:
music.Distribution
# 데이터가 띠어쓰기, 등등 문제로 같은 내용이 여러 버전으로 보인다
music.Distribution.unique(), len(music.Distribution.unique())

(array(['로엔 엔터테인먼트', '로엔엔터테인먼트', '소니뮤직', 'YG PLUS', 'Mirrorball Music',
        '(주)지니뮤직', '유니버설뮤직', '(주)인터파크', '(주)아이리버', 'Sony Music',
        '(주)엔에이치엔벅스', '(주)벅스', '(주)뮤직앤뉴', 'Universal', '지니뮤직', '워너뮤직코리아',
        '퍼플파인 엔터테인먼트', '포크라노스', '다날 엔터테인먼트', '(주)루미넌트엔터테인먼트',
        'Warner(Korea)', '㈜인터파크', '(주)미러볼뮤직', '퍼플파인엔터테인먼트'], dtype=object), 24)

In [14]:
# 데이터별로 몇번 등장했는지 체크
music.Distribution.value_counts()

(주)지니뮤직             768
(주)아이리버             453
로엔엔터테인먼트            353
로엔 엔터테인먼트           229
(주)엔에이치엔벅스           78
워너뮤직코리아              61
YG PLUS              46
유니버설뮤직               45
소니뮤직                 39
(주)인터파크              16
지니뮤직                 16
(주)뮤직앤뉴              13
Universal            11
Mirrorball Music      8
퍼플파인 엔터테인먼트           7
퍼플파인엔터테인먼트            7
Sony Music            6
다날 엔터테인먼트             6
(주)미러볼뮤직              6
(주)루미넌트엔터테인먼트         4
Warner(Korea)         2
㈜인터파크                 2
(주)벅스                 1
포크라노스                 1
Name: Distribution, dtype: int64

In [25]:
def myChange( x ):
  x = x.replace(' ', '')
  x = x.replace('㈜', '(주)')
  x = x.replace('소니뮤직', 'SonyMusic')
  x = x.replace('유니버설뮤직', 'Universal')
  x = x.replace('(주)지니뮤직', '지니뮤직')
  x = x.replace('(주)미러볼뮤직', 'MirrorballMusic')
  return x

tmp = music.Distribution.apply( myChange )
tmp.unique(), len(tmp.unique())

(array(['로엔엔터테인먼트', 'SonyMusic', 'YGPLUS', 'MirrorballMusic', '지니뮤직',
        'Universal', '(주)인터파크', '(주)아이리버', '(주)엔에이치엔벅스', '(주)벅스',
        '(주)뮤직앤뉴', '워너뮤직코리아', '퍼플파인엔터테인먼트', '포크라노스', '다날엔터테인먼트',
        '(주)루미넌트엔터테인먼트', 'Warner(Korea)'], dtype=object), 17)

In [26]:
music.Distribution = tmp
music.Distribution.value_counts()

지니뮤직               784
로엔엔터테인먼트           582
(주)아이리버            453
(주)엔에이치엔벅스          78
워너뮤직코리아             61
Universal           56
YGPLUS              46
SonyMusic           45
(주)인터파크             18
MirrorballMusic     14
퍼플파인엔터테인먼트          14
(주)뮤직앤뉴             13
다날엔터테인먼트             6
(주)루미넌트엔터테인먼트        4
Warner(Korea)        2
(주)벅스                1
포크라노스                1
Name: Distribution, dtype: int64

In [28]:
music.columns

Index(['Year', 'Month', 'Album Title', 'Artist Name', 'Genre', 'Date',
       'Distribution', 'Rating', 'Music Count'],
      dtype='object')

In [31]:
# Distribution 컬럼 기반으로 피벗 테이블 진행
pd.pivot_table( music, index=['Distribution'], 
               values=['Music Count', 'Rating'],
               aggfunc=[np.sum, np.mean, len])
# 피벗을 치면 불필요한 컬럼이 생길수도 있다 함수와 값들이 가각 n,m개가 되면
# n*m개 컬럼이 만들어지니까 => 개별 데이터별로 개별 함수를 적용하고 싶다 -> groupby

                        sum                mean                   len
                Music Count  Rating Music Count    Rating Music Count Rating
Distribution
(주)루미넌트엔터테인먼트          19.0    29.1    4.750000  7.275000           4      4
(주)뮤직앤뉴                62.0   108.7    4.769231  8.361538          13     13
(주)벅스                   2.0     8.6    2.000000  8.600000           1      1
(주)아이리버              5122.0  3818.9   11.306843  8.430243         453    453
(주)엔에이치엔벅스            614.0   663.8    7.871795  8.510256          78     78
(주)인터파크               116.0   140.1    6.444444  7.783333          18     18
MirrorballMusic        78.0    88.8    5.571429  6.342857          14     14
SonyMusic             347.0   380.3    7.711111  8.451111          45     45
Universal             712.0   470.0   12.714286  8.392857          56     56
Warner(Korea)          17.0    19.2    8.500000  9.600000           2      2
YGPLUS                276.0   385.0    6.000000  8.369565          46     46
다날엔터테인먼트               12.0    42.6    2.000000  7.100000           6      6
로엔엔터테인먼트             3034.0  4810.5    5.213058  8.265464         582    582
워너뮤직코리아               798.0   518.1   13.081967  8.493443          61     61
지니뮤직                 4551.0  6321.6    5.804847  8.063265         784    784
퍼플파인엔터테인먼트             49.0    51.8    3.500000  3.700000          14     14
포크라노스                   1.0     7.9    1.000000  7.900000           1      1

In [33]:
# 컬럼별로 별도로 적용해서 -> 소트 정렬 -> 최대 평점순, 최대 제작순, 최다곡 제작순 -> 바차트로 이어짐
music.groupby('Distribution').agg({
    # 컬럼:함수
    'Rating':'mean',
    'Distribution':'count',
    'Music Count':'sum'
})

                   Rating  Distribution  Music Count
Distribution
(주)루미넌트엔터테인먼트    7.275000             4         19.0
(주)뮤직앤뉴          8.361538            13         62.0
(주)벅스            8.600000             1          2.0
(주)아이리버          8.430243           453       5122.0
(주)엔에이치엔벅스       8.510256            78        614.0
(주)인터파크          7.783333            18        116.0
MirrorballMusic  6.342857            14         78.0
SonyMusic        8.451111            45        347.0
Universal        8.392857            56        712.0
Warner(Korea)    9.600000             2         17.0
YGPLUS           8.369565            46        276.0
다날엔터테인먼트         7.100000             6         12.0
로엔엔터테인먼트         8.265464           582       3034.0
워너뮤직코리아          8.493443            61        798.0
지니뮤직             8.063265           784       4551.0
퍼플파인엔터테인먼트       3.700000            14         49.0
포크라노스            7.900000             1          1.0

In [34]:
music.groupby('Distribution').agg({
    # 컬럼:함수
    'Rating':'mean',
    'Distribution':'count',
    'Music Count':'sum'
}).sort_values( by='Rating', ascending=False)
# 제작(유통) 편수 최소 50건이상인 회사를 기준으로 집계 

# 소수 제작(유통)사가 음원 시장을 점유하고 있다

                   Rating  Distribution  Music Count
Distribution
Warner(Korea)    9.600000             2         17.0
(주)벅스            8.600000             1          2.0
(주)엔에이치엔벅스       8.510256            78        614.0
워너뮤직코리아          8.493443            61        798.0
SonyMusic        8.451111            45        347.0
(주)아이리버          8.430243           453       5122.0
Universal        8.392857            56        712.0
YGPLUS           8.369565            46        276.0
(주)뮤직앤뉴          8.361538            13         62.0
로엔엔터테인먼트         8.265464           582       3034.0
지니뮤직             8.063265           784       4551.0
포크라노스            7.900000             1          1.0
(주)인터파크          7.783333            18        116.0
(주)루미넌트엔터테인먼트    7.275000             4         19.0
다날엔터테인먼트         7.100000             6         12.0
MirrorballMusic  6.342857            14         78.0
퍼플파인엔터테인먼트       3.700000            14         49.0

# 데이터 분석

# 모델구축(생략)

# 시스템 통합 (생략)